{
    "extends": "pixie",
    "rules": {
        "arrow-spacing": "error",
        "indent": [ "error", 4 ],
        "keyword-spacing": "error",
        "no-multiple-empty-lines": "error",
        "no-trailing-spaces": "error",
        "space-before-blocks": "error"
    }
}